echo backend/node_modules/ >> .gitignore
echo backend/temp/ >> .gitignore
echo backend/database.json >> .gitignore
echo frontend/node_modules/ >> .gitignore
echo frontend/build/ >> .gitignore
echo *.zip >> .gitignore
echo *.download >> .gitignore